<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select insurance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>To calculate the price of your insurance, please follow the steps: </h2>
<form action="insurance.html" method="post">

    <p th:text="'Step 1 - Select insurance type'"/>
    <li th:each="item: ${insurances}">
        <input type="radio" name="module" th:value="${item.module}"/>
        <label th:text="${item.module} + '(Coverage ' + ${item.fromCoverageRangeLabel}
        + '-' + ${item.toCoverageRangeLabel} + ')'"></label>
    </li>

    <p th:text="'Step 2 - Select coverage amount'"/>
    <input type="text" name="coverage"/>

    <p th:text="'Step 3 - Press calculate'"/>
    <input type="submit" value="Calculate"/>

<h2><p th:text="${result}"/></h2>
</form>
</body>
</html>

